{#
Default email template used to send a notification regarding queue manager status.
We have a few runtime variables here:
	# Result Variables
    totalPileups
    totalFailed

    # Settings variables (setting you have passed in control panel)
    settings.pluginName
    settings.pileUpQueueLimit
    settings.failedQueueLimit
    settings.ignoreRepeated
    settings.emails
    settings.overrideEmailTemplate
    settings.ohDearPingUrl
#}

<!DOCTYPE html>
<html>
<head>
	<title>Watchtower Notification</title>
</head>
<body>
	<h1>Watchtower Alert!</h1>
    <p><strong>{{ siteName }}</strong> seems to have a bottleneck in the queue manager:</p>
	<ul>
		<li>Pending Jobs: <strong>{{ totalPileups }}</strong></li>
		<li>Failed Jobs: <strong>{{ totalFailed }}</strong></li>
	</ul>
    <p>
        <a href='{{ cpUrl("utilities/queue-manager") }}'>View Queue Manager</a>.
    </p>
    <p>
        Regards, <br>
        Back office, {{ siteName }}
    </p>
</body>
</html>