{#
This is Default Email template to send notification regarding QUEUE monitor data to user.
We got few runtime variable here.
	# Result Variables
    totalPileups
    totalFailed

    # Settings variables (setting you have passed in control panel)
    settings.pluginName
    settings.pileUpQueueLimit
    settings.failedQueueLimit
    settings.ignoreRepeated
    settings.emails
    settings.overrideEmailTemplate
    settings.ohDearPingUrl
#}

<!DOCTYPE html>
<html>
<head>
	<title>Watchtower Notification</title>
</head>
<body>
	<h1>Wathtower Alert!</h1>
    <p><strong>{{ siteName }}</strong> seems to a bottleneck in the queue manager:</p>
	<ul>
		<li>Pending Jobs: <strong>{{ totalPileups }}</strong></li>
		<li>Faild Jobs: <strong>{{ totalFailed }}</strong></li>
	</ul>
    <p>
        <a href='{{ cpUrl("utilities/queue-manager") }}'>Click here to go to backend.</a>
    </p>
    <p>
        Regards, <br>
        Back office, {{ siteName }}
    </p>
</body>
</html>